.card {
  width: 30%;
  height: 310px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  position: relative;
  transition: .3s ease-out;
  border-radius: 3px;
}

.card:hover {
  box-shadow: 0 0 1px #737373, 0 0 3px #737373, 0 0 5px #737373, 0 0 7px #737373, 0 0 10px #737373, 0 0 15px #737373, 0 0 25px #737373;
}

.card_image {
  height: 250px;
  width: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.card_link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.card_title {
  color: #fff;
  width: 80%;
  margin: -20px 0 0 10%;
  padding: 10px;
  font-size: 34px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  border-radius: 3px;
  transition: .3s;
}

.card_content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  border-top: 1px solid rgba(0,0,0, .2);
}

@media screen and (max-width: 1400px) {
  .card_title {
    font-size: 27px;
  }
}

@media screen and (max-width: 1024px) {
  .card_title {
    font-size: 25px;
  }
  .card {
    height: 250px;
  }
  .card_image {
    height: 170px;
  }
}

@media screen and (max-width: 1100px) {
  .card {
    height: 250px;
  }
  .card_image {
    height: 170px;
    width: 100%;
  }
  .card_title {
    font-size: 21px;
  }
}

@media screen and (max-width: 900px) {
  .card {
    height: 220px;
  }
  .card_image {
    height: 140px;
    width: 100%;
  }
  .card_title {
    font-size: 19px;
  }
}

@media screen and (max-width: 800px) {
  .card_title {
    font-size: 18px;
  }
}

@media screen and (max-width: 700px) {
  .card {
    width: 100%;
    margin-bottom: 30px;
    height: 280px;
  }
  .card_image{
    height: 200px;
  }
  .card_title {
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  .card {
    width: 100%;
    margin-bottom: 30px;
  }
  .card_title {
    font-size: 18px;
  }
}
