.docs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.doc {
  margin-bottom: 30px;
  width: 49%;
  height: 200px;
  border: 3px solid #e53935;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: .3s linear;
}

.doc:hover {
  background: #e53935;
}

.doc:hover .doc_link {
  color: #fff;
}

.doc_link {
  display: block;
  width: 100%;
  height: 100%;
  padding: 50px;
  text-decoration: none;
  color: rgba(0, 0, 0, .77);
  transition: .3s;
}

.doc_title {
  font-size: 27px;
  margin-bottom: 20px;
}

.doc p {
  font-size: 20px;
  margin-bottom: 7px;
}


@media screen and (max-width: 1400px) {
  .doc {
    height: 190px;
  }

  .doc_link {
    padding: 30px;
  }
}

@media screen and (max-width: 1200px) {
  .doc_title {
    font-size: 23px;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 10px;
  }

  .doc p {
    font-size: 18px;
  }
}

@media screen and (max-width: 1100px) {
  .doc {
    height: 150px;
  }
  .doc_title {
    font-size: 20px;
  }
  .doc p {
    font-size: 15px;
  }
}

@media screen and (max-width: 1000px) {
  .doc {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .doc {
    height: 200px;
  }
}
