.syscard {
  width: 100%;
  height: 350px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 1px;
  position: relative;
  transition: .3s linear;
}

.syscard:hover {
    box-shadow: 0 0 1px #737373, 0 0 3px #737373, 0 0 5px #737373, 0 0 7px #737373, 0 0 10px #737373, 0 0 15px #737373;
}

.syscard a {
  text-decoration: none;
  color: inherit;
}

.syscard_container {
  height: 100%;
  position: relative;
}

.syscard_title {
  display: block;
  border-radius: 3px;
  text-align: center;
  font-size: 34px;
  font-weight: 400;
  line-height: 40px;
  padding: 10px 0;;
  color: #fff;
  position: absolute;
  width: 90%;
  left: 5%;
  top: 140px;
  transition: .3s;
}

.syscard_p {
  max-width: 80%;
  margin-left: 10%;
  padding-top: 10%;
  line-height: 1.5;
  font-size: 16px;
}

.syscard_img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 180px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
}
